.container {
  margin-top: 80px;

  .filter {
    display: flex;
    justify-content: space-between;

    .filter-wrap {
      display: flex;
      justify-content: flex-end;
    }
  }

  .table-header-wrap {
    text-align: center !important;
    display: block !important;
    background-color: #3f51b5;
    color: white;
    border-radius: 3px;
    height: 70px;

    .header {
      margin: auto;
      width: 100%;
      padding: 19px;
    }
  }

  .mat-mdc-form-field {
    width: 30%;
  }

  table {
    width: 100%;
  }

  .mat-mdc-paginator {
    margin-top: 2px;
  }

  .mat-mdc-card {
    .mat-mdc-card-content {
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 0px;
    }

    height: 80px;
  }

  .mat-icon {
    margin-right: 15px;
    cursor: pointer;
  }
}